<div class="row">
    <!-- Column -->

    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <img class="card-img" src="/static/images/background/socialbg.jpg" alt="Card image">
        {{if gt $.Account.Person.ID 0 }}
            <div class="card-img-overlay card-inverse social-profile d-flex ">
                <div class="align-self-center">
                    <img src="/static/images/users/default.jpg" class="img-circle" width="100">
                    <h4 class="card-title">{{.Account.Person.PrimaryName.First}} {{.Account.Person.PrimaryName.Last}}</h4>
                    <h6 class="card-subtitle">@{{$.Account.Username}}</h6>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                </div>
            </div>
        </div>
        <div class="card">
        <div class="card-body">
            <small class="text-muted">Email address </small>
            <h6>{{.Account.Person.Email.Email}}</h6>
            <small class="text-muted p-t-30 db">Phone</small>
            <h6>{{.Account.Person.Phone.CountryCode}}{{.Account.Person.Phone.Number}}</h6>
            <small class="text-muted p-t-30 db">Address</small>
            <h6>{{.Account.Person.Address.FullAddress}}</h6>
            {{else}}
                <div class="card-img-overlay card-inverse social-profile d-flex ">
                <div class="align-self-center">
                    <img src="/static/images/users/default.jpg" class="img-circle" width="100">
                    <h4 class="card-title"> {{.Account.Username}}</h4>
                    <h6 class="card-subtitle">@{{$.Account.Username}}</h6>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                </div>
            </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <small class="text-muted">Email address </small>
                    <h6>{{.Account.Email.Email}}</h6>
                    <small class="text-muted p-t-30 db">Phone</small>
                    <h6>{{$.Account.Company.Phone.Phone}}</h6>
                    <small class="text-muted p-t-30 db">Address</small>
                    <h6>{{$.Account.Company.Address.FullAddress}}</h6>
            {{end}}
            <div class="map-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                        width="100%" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
            <small class="text-muted p-t-30 db">Social Profile</small>
            <br>
            <button class="btn btn-circle btn-secondary">
                <i class="fa fa-facebook"></i>
            </button>
            <button class="btn btn-circle btn-secondary">
                <i class="fa fa-twitter"></i>
            </button>
            <button class="btn btn-circle btn-secondary">
                <i class="fa fa-youtube"></i>
            </button>
        </div>
        </div>
    </div>

    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <!--
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Profile</a>
                </li>
                 {{if gt $.Account.Company.ID 0}}
                     <li class="nav-item">
                         <a class="nav-link" data-toggle="tab" href="#company" role="tab">Company</a>
                     </li>
                     {{/*<li class="nav-item">*/}}
                         {{/*<a class="nav-link" data-toggle="tab" href="#personal" role="tab">Personal</a>*/}}
                     {{/*</li>*/}}
                 {{else}}
                 {{if gt $.Account.Person.ID 0}}
                     <li class="nav-item">
                         <a class="nav-link" data-toggle="tab" href="#personal" role="tab">Personal</a>
                     </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#personal" role="tab">Personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#company" role="tab">Company</a>
                        </li>
                    {{end}}
                {{end}}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#security" role="tab">Security</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!--
                <div class="tab-pane active" id="timeline" role="tabpanel">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <div class="sl-left">
                                    <img src="/static/images/users/1.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">John Doe</a>
                                        <span class="sl-date">5 minutes ago</span>
                                        <p>assign a new task
                                            <a href="#"> Design weblayout</a>
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 m-b-20">
                                                <img src="/static/images/big/img1.jpg" class="img-responsive radius">
                                            </div>
                                            <div class="col-lg-3 col-md-6 m-b-20">
                                                <img src="/static/images/big/img2.jpg" class="img-responsive radius">
                                            </div>
                                            <div class="col-lg-3 col-md-6 m-b-20">
                                                <img src="/static/images/big/img3.jpg" class="img-responsive radius">
                                            </div>
                                            <div class="col-lg-3 col-md-6 m-b-20">
                                                <img src="/static/images/big/img4.jpg" class="img-responsive radius">
                                            </div>
                                        </div>
                                        <div class="like-comm">
                                            <a href="javascript:void(0)" class="link m-r-10">2 comment</a>
                                            <a href="javascript:void(0)" class="link m-r-10">
                                                <i class="fa fa-heart text-danger"></i> 5 Love</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left">
                                    <img src="/static/images/users/2.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">John Doe</a>
                                        <span class="sl-date">5 minutes ago</span>
                                        <div class="m-t-20 row">
                                            <div class="col-md-3 col-xs-12">
                                                <img src="/static/images/big/img1.jpg" alt="user" class="img-responsive radius">
                                            </div>
                                            <div class="col-md-9 col-xs-12">
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                                                    Praesent libero. Sed cursus ante dapibus diam. </p>
                                                <a href="#" class="btn btn-success">
                                                Design weblayout</a>
                                            </div>
                                        </div>
                                        <div class="like-comm m-t-20">
                                            <a href="javascript:void(0)" class="link m-r-10">2 comment</a>
                                            <a href="javascript:void(0)" class="link m-r-10">
                                                <i class="fa fa-heart text-danger"></i> 5 Love</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left">
                                    <img src="/static/images/users/3.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">John Doe</a>
                                        <span class="sl-date">5 minutes ago</span>
                                        <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent
                                            libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                                            imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper
                                            </p>
                                    </div>
                                    <div class="like-comm m-t-20">
                                        <a href="javascript:void(0)" class="link m-r-10">2 comment</a>
                                        <a href="javascript:void(0)" class="link m-r-10">
                                            <i class="fa fa-heart text-danger"></i> 5 Love</a>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left">
                                    <img src="/static/images/users/4.jpg" alt="user" class="img-circle"> </div>
                                <div class="sl-right">
                                    <div>
                                        <a href="#" class="link">John Doe</a>
                                        <span class="sl-date">5 minutes ago</span>
                                        <blockquote class="m-t-10">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!--second tab-->
                <div class="tab-pane active" id="profile" role="tabpanel">
                    <div class="card-body">
                        {{if gt $.Account.Company.ID 0}}
                            <div class="row">
                                <h3>Personal Information</h3>
                            </div>
                        <div class="row">
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Full Name</strong>
                            <br>
                        {{if $.Account.Person.PrimaryName}}
                        <p class="text-muted">{{if $.Account.Person.ID}}{{$.Account.Person.PrimaryName.Name}}{{else}}{{$.Account.Company.Person.PrimaryName.Name}}{{end}}</p>
                        {{else}}
                            <p class="text-muted"><a href="#personal" class="text-success">Add Now</a></p>
                        {{end}}
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Mobile</strong>
                            <br>
                        <p class="text-muted">{{if $.Account.Person.ID}}{{$.Account.Person.Phone}}{{else}}{{$.Account.Company.Person.Phone.Phone}}{{end}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Email</strong>
                            <br>
                        <p class="text-muted">{{if $.Account.Person.ID}}{{$.Account.Person.Email}}{{else}}{{$.Account.Company.Person.Email.Email}}{{end}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <strong>Location</strong>
                            <br>
                        <p class="text-muted">{{if $.Account.Person.ID}}{{$.Account.Person.FullAddress}}{{else}}{{$.Account.Company.Person.Address.FullAddress}}{{end}}</p>
                        </div>
                        </div>

                            <div class="row">
                                <h3>Company Imformation</h3>
                            </div>
                        <div class="row">
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Name</strong>
                            <br>
                        {{if $.Account.Company.Name}}
                        <p class="text-muted">{{$.Account.Company.Name}}</p>
                        {{else}}
                        {{end}}
                        </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Mobile</strong>
                                <br>
                                <p class="text-muted">{{$.Account.Company.Phone.CountryCode}}{{$.Account.Company.Phone.Number}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                                <strong>Email</strong>
                                <br>
                                <p class="text-muted">{{$.Account.Company.Email.Username}}{{$.Account.Company.Email.Domain}}</p>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <strong>Location</strong>
                                <br>
                                <p class="text-muted">{{$.Account.Company.Address.Address1}}{{$.Account.Company.Address.City}}</p>
                            </div>
                        </div>
                        {{if $.Account.Company.Name}}

                            <div class="row">
                                <h3>Generete hiring link </h3>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r">
                                    <a href="/company/linkForHiring"><strong>Generate</strong> </a>
                                    <br>
                                    {{if .HiringLink}}
                                        <input  type="text" value="{{.HiringLink}}" class="form-control here"/>
                                    {{end}}

                                </div>
                            </div>
                        {{end}}
                        {{else}}
                            <div class="row">
                            <h3>Personal Information</h3>
                        </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Full Name</strong>
                                    <br>
                                {{if $.Account.Person.PrimaryName}}
                                    <p class="text-muted">{{$.Account.Person.PrimaryName.First}} {{$.Account.Person.PrimaryName.Last}}</p>
                                {{else}}
                                    <p class="text-muted"><a href="#personal" class="text-success">Add Now</a></p>
                                {{end}}
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Mobile</strong>
                                    <br>
                                    <p class="text-muted">{{$.Account.Person.Phone.CountryCode}}{{$.Account.Person.Phone.Number}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Email</strong>
                                    <br>
                                    <p class="text-muted">{{$.Account.Person.Email.Username}}{{$.Account.Person.Email.Domain}}</p>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <strong>Location</strong>
                                    <br>
                                    <p class="text-muted">{{$.Account.Person.Address.Address1}}{{$.Account.Person.Address.City}}</p>
                                </div>
                            </div>
                        {{end}}
                    </div>

                </div>

                 {{if gt $.Account.Company.ID 0}}
                    <div class="tab-pane" id="company" role="tabpanel">
                        <div class="card-body">
                            <form class="form-horizontal" id = "company-form" role="form" method="post" action="/company/update/{{.Account.Company.ID}}">
                                {{template "widgets/company/form" .changeName.SetName "company" .Payload}}
                            </form>
                            <div class="block-center" align="right">
                                <a class="btn btn-danger" href="/{{.model}}">Cancel</a>
                                <button type="submit" formmethod="post" formaction="/company/update/{{.Account.Company.ID}}" form="company-form" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </div>
                 {{else}}
                 {{if gt $.Account.Person.ID 0}}

                     <div class="tab-pane" id="personal" role="tabpanel">
                         <div class="card-body">
                            {{template "widgets/person/form" .changeName.SetName "person" .Payload}}
                             <div class="block-center" align="right">
                                 <a class="btn btn-danger" href="/{{.model}}">Cancel</a>
                                 <button type="submit" formmethod="post" formaction="/person/update/{{.Account.Person.ID}}" form="person-form" class="btn btn-success">Save</button>
                             </div>
                         </div>
                     </div>
                 {{else}}

                     <div class="tab-pane" id="personal" role="tabpanel">
                         <div class="card-body">
                             <form class="form-horizontal" id = "person-form" role="form" method="post" action="/person/create">
                                {{template "widgets/person/form" .changeName.SetName  "person-account" .Payload}}
                             </form>
                             <div class="block-center" align="right">
                                 <a class="btn btn-danger" href="/{{.model}}">Cancel</a>
                                 <button type="submit" formmethod="post" formaction="/account/update/{{.Account.ID}}"  form="person-form" class="btn btn-success">Save</button>
                             </div>
                         </div>
                     </div>
                     <div class="tab-pane" id="company" role="tabpanel">
                         <div class="card-body">
                             <form class="form-horizontal" id = "company-form" role="form" method="post" action="/company/create">
                                {{template "widgets/company/form" .changeName.SetName  "account-company" .Payload}}
                             </form>
                             <div class="block-center" align="right">
                                 <a class="btn btn-danger" href="/{{.model}}">Cancel</a>
                                 <button type="submit" formmethod="post" formaction="/account/update/{{.Account.ID}}"  form="company-form" class="btn btn-success">Save</button>
                             </div>
                         </div>
                     </div>
                 {{end}}
                 {{end}}
                <div class="tab-pane" id="security" role="tabpanel">
                    <div class="card-body">
                        {{/*<h1>TODO: Security Settings</h1>*/}}
                        {{/*<form class="form-horizontal form-material">*/}}
                            {{/*<div class="form-group">*/}}
                                {{/*<label for="enable_ip_whitelist" class="col-md-6">Enable IP Whitelist</label>*/}}
                                {{/*<div class="col-md-6">*/}}
                                    {{/*<select id="enable_ip_whitelist" name="enable_ip_whitelist" class="select form-control" required="required">*/}}
                                        {{/*<option value="enabled">Enabled</option>*/}}
                                        {{/*<option value="disabled">Disabled</option>*/}}
                                    {{/*</select>*/}}
                                {{/*</div>*/}}
                            {{/*</div>*/}}
                            {{/*<div class="form-group">*/}}
                                {{/*<label for="send_email" class="col-md-6">Send Email on Changes</label>*/}}
                                {{/*<div class="col-md-6">*/}}
                                    {{/*<select id="send_email" name="send_email" class="select form-control" required="required">*/}}
                                        {{/*<option value="enabled">Enabled</option>*/}}
                                        {{/*<option value="disabled">Disabled</option>*/}}
                                    {{/*</select>*/}}
                                {{/*</div>*/}}
                            {{/*</div>*/}}
                            {{/*<div class="form-group">*/}}
                                {{/*<div class="col-sm-12">*/}}
                                    {{/*<button class="btn btn-success">Update Security Settings</button>*/}}
                                {{/*</div>*/}}
                            {{/*</div>*/}}
                        {{/*</form>*/}}

                        <div class="form-group row">
                            <label class="col-4 col-form-label">IP Whitelist</label>
                            <div class="col-8">
                                <div class="input-group">
                                {{if .enableWList }}
                                    <form action="/ip" method="get">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button class="btn btn-success">Edit IP Whitelist</button>
                                            </div>
                                        </div>
                                    </form>
                                    <form action="/ip/disable" method="get">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button class="btn btn-success">Disable IP Whitelist</button>
                                            </div>
                                        </div>
                                    </form>
                                {{else}}
                                    <form action="/ip/create" method="get">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button class="btn btn-success">Enable IP Whitelist</button>
                                            </div>
                                        </div>
                                    </form>
                                {{end}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Two-factor authentication</label>
                            <div class="col-8">
                                <div class="input-group">
                                    {{if .enable2fa }}
                                        <form action="/account/2FA" method="get">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success">Enable 2FA</button>
                                                </div>
                                            </div>
                                        </form>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
</div>
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $('#company-buttons').ready( function () {
        $('#company-buttons').toggle();
    });
    $('#person-buttons').ready( function () {
        $('#person-buttons').toggle();
    })
</script>