<div class="login-box card">
    <div class="card-body">

        <form class="form-horizontal form-material" method="post" id="loginform">
            <h3 class="box-title m-b-20">Sign Up</h3>
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="text" name="username" {{with .Payload}}value="{{.Username}}"{{end}} required="" placeholder="Username">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="text" name="email"   {{with .Payload}}value="{{.EmailAccount}}"{{end}} required="" placeholder="Email">
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-4 col-form-label">Company Name</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="mdi mdi-office-building"></i>
                        </div>
                        <input id="name" name="Company.name" placeholder="ACME, Ltd." type="text"  class="form-control here">
                        <div class="input-group-addon append">
                            <i class="mdi mdi-database-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" formaction="/account/update/{{.Payload.ID}}" formmethod="post" type="submit">Sign Up</button>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">

                </div>
            </div>
        </form>
    </div>
</div>