        <!-- Topbar header - style you can find in pages.scss -->
        <header class="topheader">
            <div class="fix-width">
                <nav class="navbar navbar-expand-md navbar-light">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <!-- Logo will be here -->
                    <a class="navbar-brand" href="index.html"><img src="/static/images/monster-admin-logo.png" alt="admin template" /></a>
                    <!-- This is the navigation menu -->
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto stylish-nav">
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="../main/index2.html" target="_blank">Main</a> <a class="dropdown-item" href="../minimal/index.html" target="_blank">Minimal</a> <a class="dropdown-item" href="../dark/index3.html" target="_blank">Dark</a> <a class="dropdown-item" href="../horizontal/index5.html" target="_blank">Horizontal</a> <a class="dropdown-item" href="../minisidebar/index4.html" target="_blank">Minisidebar</a><a class="dropdown-item" href="../main-rtl/index.html" target="_blank">Main-RTL</a> </div>
                            </li>
                            <li class="nav-item"> <a class="nav-link" href="../Documentation/document.html" target="_blank">Documentation</a> </li>
                            <li class="nav-item"> <a class="m-t-5 btn btn-rounded btn-outline-success" href="https://wrappixel.com/templates/monsteradmin/">BUY NOW</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>    
