<!-- Model Search Widget Typeahead -->
<!-- Enter search data for models search -->
<link href="/static/css/suggestion-style.css" rel="stylesheet">

<div class="modal fade show" id="gender" tabindex="-1" role="dialog" aria-labelledby="modal-{{.model}}-title" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-gender-title">Record Search</h4>
            </div>
            <div class="modal-body">
                <!-- Actual Bloodhound typeahead code BEGIN -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Find {{.model}}</h4>
                        <h6 class="card-subtitle">Suggestion Engine - Just start typing what gender your looking for.</h6>
                        <div id="bloodhound">
                            <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                                <input class="typeahead form-control tt-input" id="find_query_gender{{.model}}" type="text" placeholder="gender" autocomplete="off"
                                       spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Actual Bloodhound typeahead code END -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="accept_find_gender{{.model}}">Accept</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/plugins/typeahead.js-master/dist/typeahead.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js"></script>
<script>
    var bestPictures = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('gender'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            url: '/gender/find?query=%QUERY',
            wildcard: '%QUERY'
        }
    });

    //Documentation : https://github.com/corejavascript/typeahead.js/blob/master/doc/jquery_typeahead.md
    $('#find_query_gender').typeahead({
        hint: true,
        highlight: true,
    }, {
        name: 'best-pictures',
        display: 'claimed_sex',
        source: bestPictures
    });
</script>

<script>
    $('#accept_find_gender{{.model}}').click(function () {
        var query = $('#find_query_gender{{.model}}').val();
        $.ajax({
            url: "/gender/find?query=" + query,
            dataType: 'json',
            async: false,
            success: function(data) {
                var html = '';
                $.each(data, function (index, value) {
                    if ($('#bodyGender').attr('data-list')!="list"){
                        $('#gender_{{.model}}_claimed_sex').attr("value", value.claimed_sex);
                        $('#gender_{{.model}}_legal_sex').attr("value", value.legal_sex);
                    }else {
                        var row = '<tr>';
                        row += '<td class="text-left">' + value.id + '</td>';
                        row += '<td class="text-left">' + value.claimed_sex + '</td>';
                        row += '<td class="text-left">' + value.legal_sex + '</td>';
                        row += '<td class="text-left">' +
                                '<a href="/gender/view/' + value.id + '"><i class="mdi mdi-eye text-info"></i></a>' +
                                '<a href="/gender/edit/' + value.id + '"><i class="mdi mdi-square-edit-outline text-warning"></i></a>' +
                                '<a href="/gender/delete/' + value.id + '"><i class="mdi mdi-delete-forever text-danger"></i></a>' +
                                '</td>';

                        row += '</tr>';
                        html += row;
                    }
                });

                $('#bodyGender').html('');
                $('#bodyGender').append(html);

                $('#gender').modal('hide');
            }
        });
    });
</script>

<style>
    .tt-suggestion:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
        color: #fff;
        background-color: #0097cf;
        cursor: pointer;
    }
</style>