<!-- Model form Widget -->
<!-- Allows Edit or Creating new Models (with proper access) -->
{{if  eq $.model "gender"}}
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">

            <div class="card-header fadebar">
                <h3>{{.title}}</h3>
            </div>

            <div class="card-body">
                <div class="col-md-12">
                {{template "widgets/setFieldName" .}}
                <form class="form-horizontal" role="form" method="post" action="/{{$.model}}/{{if eq .action "edit"}}update/{{.Payload.ID}}{{else}}{{.action}}{{end}}">
                    {{/*<div class="form-group row">*/}}
{{end}}
                        {{/*<label for="claimed_sex" class="col-4 col-form-label">Sex assigned at birth/Identity</label>*/}}
                    <div class="form-group row">
                        <label for="Gender" class="col-4 col-form-label">Gender</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="btn-group" data-toggle="buttons" role="group">
                                        {{/*<label for="legal_sex" class="btn btn-outline btn-info active">*/}}

                                            <input type="radio" id="legal_sex" name="legal_sex" data-nameP="Gender."  data-name="Gender." alt="legal_sex" value="1" >
                                            <i class="ti-check text-active" ></i>&nbsp;&nbsp;Male&nbsp;&nbsp;<i class="mdi mdi-gender-male"></i>
                                        {{/*</label>*/}}
                                        {{/*<label class="btn btn-outline btn-info" style="background:#ec5a97">*/}}
                                            <input type="radio" id="legal_sex" name="legal_sex"  data-nameP="Gender." data-name="Gender." alt="legal_sex" value="2">
                                            <i class="ti-check text-active"></i>&nbsp;&nbsp;Female&nbsp;&nbsp;<i class="mdi mdi-gender-female"></i>
                                        {{/*</label>*/}}
                                        {{/*<!-- mdi-gender-female -->*/}}
                                        <select id="claimed_sex{{$.model}}" name="claimed_sex" alt="claimed_sex" data-name="Gender." class="custom-select col-12" >
                                            <option class="dropdown-item" value="lesbian">Lesbian</option>
                                            <option class="dropdown-item" value="gay">Gay</option>
                                            <option class="dropdown-item" value="bi-gender">Bi-Gender</option>
                                            <option class="dropdown-item" value="transgender">Transgender</option>
                                            <option class="dropdown-item" value="queer">Queer</option>
                                            <option class="dropdown-item" value="straight" selected>Straight</option>
                                        </select>
                                    </div>
                               </div>
                            </div>
                    </div>
{{if  eq $.model "gender"}}

                    <div class="form-group row align-items-center justify-content-center">
                        <div class="block-center">
                            <a class="btn btn-danger" href="/{{$.model}}">Cancel</a>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

