<!-- Model form Widget -->
<!-- Allows Edit or Creating new Models (with proper access) -->
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header fadebar">
                <h3>{{.title}}</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" method="post" action="/{{$.model}}/{{if eq .action "edit"}}update/{{.Payload.ID}}{{else}}{{.action}}{{end}}">
                    <div class="form-group row">
                        <label for="string" class="col-4 col-form-label">Body</label>
                        <div class="col-8">
                            <textarea id="body" name="body" placeholder="enter some text" rows="5" required="required" class="form-control here">{{with .Payload}}{{.Body}}{{end}}</textarea>
                        </div>
                    </div>
                    <div class="form-group row align-items-center justify-content-center">
                        <div class="block-center">
                            <a class="btn btn-danger" href="/{{$.model}}">Cancel</a>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>