<!-- Model Item Widget -->
<!-- Diplays a single Model view - Find properties in gowaf/models/note -->
<form class="form-group">
<div class="card">
        <div class="card-header fadebar">
            <h3>
            Model View ({{.Payload.ID}})
            &nbsp;<a href="/{{$.model}}/edit/{{.Payload.ID}}"><i class="mdi mdi-square-edit-outline text-warning"></i></a>
            &nbsp;<a href="/{{$.model}}/delete/{{.Payload.ID}}"><i class="mdi mdi-delete-forever text-danger"></i></a>
            </h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6"><label>Entered By</label></div>
                <div class="col-md-6 text-right">{{with .Payload}} {{.Person.Friendly}} {{else}} 0 {{end}}</div>

                <div class="col-md-6"><label>Note</label></div>
                <div class="col-md-6 text-right">{{with .Payload}} {{.Body}} {{else}} N/A {{end}}</div>
            </div>
        </div>
    </div>
</form>
