<!-- Model form Widget -->
<!-- Allows Edit or Creating new Models (with proper access) -->
{{if  eq $.model "address"}}
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header fadebar">
                <h3>{{.title}}</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                {{template "widgets/setFieldName" .}}
                <form class="form-horizontal" role="form" method="post" action="/{{$.model}}/{{if eq .action "edit"}}update/{{.Payload.ID}}{{else}}{{.action}}{{end}}">
{{end}}
                        <div class="form-group row">
                            <label for="address1" class="col-4 col-form-label control-label">Street Address</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-home-plus"></i></span>
                                    <input id="address_{{$.model}}_address1" data-nameP="Address."  data-name="Address." alt="address1" name="address1" aria-describedby="sizing-addon3" placeholder="1234 W Main St" type="text" class="form-control here">
                                    <a href="#" id="find_address_{{.model}}" type="button" data-target="#addressFormModal" data-whatever="@mdo"><span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-database-search"></i></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="address2" class="col-4 col-form-label control-label">Suite / Apt.</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-home-plus"></i></span>
                                    <input id="address_{{$.model}}_address2" data-nameP="Address." data-name="Address." alt="address2" name="address2" aria-describedby="sizing-addon3" placeholder="Suite 102" type="text" class="form-control here">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-square-edit-outline"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="city" class="col-4 col-form-label control-label">City</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-home-plus"></i></span>
                                        <input id="address_{{$.model}}_city" data-nameP="Address." data-name="Address." alt="city" name="city"  aria-describedby="sizing-addon3" placeholder="Houston" type="text" class="form-control here">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-square-edit-outline"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="state" class="col-4 col-form-label control-label">State</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-home-plus"></i></span>
                                    <input id="address_{{$.model}}_state"  data-nameP="Address." data-name="Address." alt="state" name="state" aria-describedby="sizing-addon3"  placeholder="Texas" type="text" class="form-control here" >
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-square-edit-outline"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="zip" class="col-4 col-form-label control-label">Zipcode</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-home-plus"></i></span>
                                    <input id="address_{{$.model}}_zip" data-nameP="Address." data-name="Address." alt="zip" name="zip" aria-describedby="sizing-addon3" placeholder="77084" type="text" class="form-control here">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-square-edit-outline"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="county" class="col-4 col-form-label control-label">County</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-home-plus"></i></span>
                                    <input id="address_{{$.model}}_county" data-nameP="Address." data-name="Address." alt="county" name="county"  aria-describedby="sizing-addon3" placeholder="Harris" type="text" class="form-control here">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-square-edit-outline"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="country" class="col-4 col-form-label control-label">Country</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-home-plus"></i></span>
                                    <input id="address_{{$.model}}_country" data-nameP="Address." data-name="Address." alt="country" name="country"  aria-describedby="sizing-addon3" placeholder="United States" type="text"  class="form-control here">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-square-edit-outline"></i></span>
                                </div>
                            </div>
                        </div>
{{if  eq $.model "address"}}
                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <a class="btn btn-danger" href="/{{$.model}}">Cancel</a>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

<script src="/static/plugins/jquery/jquery.min.js"></script>
<script>
    $('#find_address_{{.model}}').click(function () {
        $('#address_{{.model}}').modal('show')
    })
</script>
{{template "widgets/address/find" .}}
