<!-- Model full Widget -->
<!-- Displays all model widgets -->

{{template "widgets/address/dash" .}}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body wizard-content ">
                <div class="col-md-6">
                    {{template "widgets/address/find" .}}
                </div>
                <div class="col-md-6">
                    {{template "widgets/address/menu" .}}
                </div>
            </div>
        </div>
    </div>
</div>
{{template "widgets/address/list" .}}