<!-- Model form Widget -->
<!-- Allows Edit or Creating new Models (with proper access) -->
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header fadebar">
                <h3>{{.title}}</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" method="post" action="/{{$.model}}/{{if eq .action "edit"}}update/{{.Payload.ID}}{{else}}{{.action}}{{end}}">
                    <div class="form-group row" id="account">
                        <label for="string" class="col-4 col-form-label">AccountID</label>
                        <div class="col-8"  >
                            <input id="account_id" name="account_id" placeholder="1" type="text"  class="form-control here">
                        </div>
                    </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">Type</label>
                            <div class="col-8" style="text-align: left">
                                <select  id="type" onchange="myFunction()" name="type" >
                                    Select One
                                    <div >
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="p">Policy</option>
                                        <option  value="g">Group</option>
                                    </div>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-4 col-form-label">Role</label>
                            <div class="col-8" style="text-align: left">
                                <input id="float" name="role" placeholder="guest or 12(account id)" type="text" {{with .Payload}}value="{{.Role}}"{{end}} class="form-control here">
                            </div>
                        </div>

                    <div class="form-group row">
                        <label for="float" class="col-4 col-form-label">Domain</label>
                        <div class="col-8">
                            <input id="float" name="domain" placeholder="person" type="text" {{with .Payload}}value="{{.Domain}}"{{end}} class="form-control here">
                        </div>
                    </div>
                    <div class="form-group row" id="object">
                        <label for="float" class="col-4 col-form-label">Object</label>
                        <div class="col-8">
                            <input id="object_id" name="object" placeholder="12" type="text" {{with .Payload}}value="{{.Object}}"{{end}} class="form-control here">
                        </div>
                    </div>
                    <div class="form-group row" id="action" >
                        <label for="float" class="col-4 col-form-label">Action</label>
                        <div class="col-8">
                            <input id="action_id" name="action" placeholder="guest" type="text" {{with .Payload}}value="{{.Action}}"{{end}} class="form-control here">
                        </div>
                    </div>
                    <div class="form-group row align-items-center justify-content-center">
                        <div class="block-center">
                            <a class="btn btn-danger" href="/{{$.model}}">Cancel</a>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("type").value;
        if (x === "g") {
            document.getElementById("account_id").value = (-1);
        } else {
            document.getElementById("object_id").value = (-1);
            document.getElementById("action_id").value = (-1);
        }
    }

</script>

<script src="/static/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $('#type').on('change', function () {
    var x = document.getElementById("type").value;
    if (x === "g") {
        $('#object').toggle();
        $('#action').toggle();
        $('#account').show();

    }else {
        $('#account').toggle();
        $('#object').show();
        $('#action').show();
    }
    })
</script>