<!-- Model Item Widget -->
<!-- Diplays a single Model view - Find properties in gowaf/models/example -->
<form class="form-group">
<div class="card">
        <div class="card-header fadebar">
            <h3>
            Model View ({{.Payload.ID}})
            &nbsp;<a href="/{{$.model}}/edit/{{.Payload.ID}}"><i class="mdi mdi-square-edit-outline text-warning"></i></a>
            &nbsp;<a href="/{{$.model}}/delete/{{.Payload.ID}}"><i class="mdi mdi-delete-forever text-danger"></i></a>
            </h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6"><label>ID</label></div>
                <div class="col-md-6 text-right">{{with .Payload}} {{.ID}} {{else}} 0 {{end}}</div>

                <div class="col-md-6"><label>AccountID</label></div>
                <div class="col-md-6 text-right">{{with .AccountID}} {{.AccountID}} {{else}} N/A {{end}}</div>

                <div class="col-md-6"><label>Type</label></div>
                <div class="col-md-6 text-right">{{with .Payload}} {{.Type}} {{else}} N/A {{end}}</div>

                <div class="col-md-6"><label>Role</label></div>
                <div class="col-md-6 text-right">{{with .Payload}} {{.Role}} {{else}} N/A {{end}}</div>

                <div class="col-md-6"><label>Domain</label></div>
                <div class="col-md-6 text-right">{{with .Domain}} {{.Role}} {{else}} N/A {{end}}</div>

                <div class="col-md-6"><label>Object</label></div>
                <div class="col-md-6 text-right">{{with .Payload}} {{.Object}} {{else}} N/A {{end}}</div>

                <div class="col-md-6"><label>Action</label></div>
                <div class="col-md-6 text-right">{{with .Payload}} {{.Action}} {{else}} N/A {{end}}</div>
            </div>
        </div>
    </div>
</form>
