<!-- Model form Widget -->
<!-- Allows Edit or Creating new Models (with proper access) -->
{{if  eq $.model "email"}}
    <div class="row" id="mainEmail{{$.model}}">
        <div class="col-md-12">
            <div class="card text-center">
                <div class="card-header fadebar">
                    <h3>{{.title}}</h3>
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                    {{template "widgets/setFieldName" .}}
                    <form data-toggle="validate-email" class="form-horizontal" role="form" id="validationemailform" method="post" action="/{{.model}}/{{if eq .action "edit"}}update/{{$.Payload.ID}}{{else}}{{.action}}{{end}}">
{{end}}

                    <div class="form-group row" >
                        <label for="domain" class="col-4 col-form-label">Email</label>
                        <div class="col-8">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon3">@</span>
                                <input type="text" id="email_{{$.model}}_username" data-nameP="Email."  data-name="Email."  placeholder="name" class="form-control" alt="username" name="username" aria-describedby="sizing-addon3">
                                <input type="text" id="email_{{$.model}}_domain" data-nameP="Email."  data-name="Email." placeholder="domain" class="form-control" alt="domain" name="domain" aria-describedby="sizing-addon3">
                                <a href="#" id="find_email_{{.model}}" type="button" data-target="#emailFormModal" data-whatever="@mdo"><span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-database-search"></i></span></a>
                                <input type="hidden" id="email_typeahead">
                            </div>
                        </div>
                    </div>
{{if  eq $.model "email"}}
                    <div class="form-group row align-items-center justify-content-center">
                        <div class="block-center">
                            <a class="btn btn-danger" href="/{{$.model}}">Cancel</a>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}

<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
    $('#find_email_{{.model}}').click(function () {
        $('#find_query_email').attr('id',"find_query_email_{{.model}}" );
        $('#email_{{.model}}').modal('show');
    })

    jQuery.validator.setDefaults({
        rules: {
        username : {
                required : true,
                minlength: 2,
        },
        domain: {
                required: true,
            },
        },

        highlight: function(element) {
                $(element).closest("input[id*='email_{{$.model}}']").removeClass('form-control is-valid').addClass('form-control is-invalid');
                if ($(element).closest('.form-group').find('i.mdi').length < 3) {
                    $(element).closest('.form-group').find('.mdi-alert').remove();
                    $(element).closest('.form-group').find('.mdi-check').remove();
                    $(element).closest('.form-group').find('.mdi-database-search').append('<i class="mdi mdi-alert text-danger"></i>');
            }
        },
        unhighlight: function(element) {
                $(element).closest("input[id*='email_{{$.model}}']").removeClass('form-control is-invalid').addClass('form-control is-valid');
                if ($(element).closest('.form-group').find('i.mdi').length < 3) {
                    $(element).closest('.form-group').find('.mdi-check').remove();
                    $(element).closest('.form-group').find('.mdi-alert').remove();
                    $(element).closest('.form-group').find('.mdi-database-search').append('<i class="mdi mdi-check text-success"></i>');
                }
        },
        errorPlacement: function(error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(('.input-group'));
            }
        },

        errorElement: 'span',
        errorClass: 'help-block',
        ignore: ''


    });

    $('form[data-toggle="validate-email"]').validate();


</script>

{{template "widgets/email/find" .}}
