<!-- Model Item Widget -->
<!-- Diplays a single Model view - Find properties in gowaf/models/ip -->
<form class="form-group">
    <div class="card">
    <div class="card-header fadebar">
    <h3>
    {{range $k,$v:=.P}}
        Model View ({{$k}})
        &nbsp;<a href="/{{$.model}}/edit/{{$k}}"><i class="mdi mdi-square-edit-outline text-warning"></i></a>
        &nbsp;<a href="/{{$.model}}/delete/{{$k}}"><i class="mdi mdi-delete-forever text-danger"></i></a>
    </h3>
    </div>

    <div class="card-body">
    <div class="row">
        <div class="col-md-6"><label>IP</label></div>
        <div class="col-md-6 text-right">{{$v}}</div>
    {{end}}
    </div>
    </div>
    </div>
</form>
