
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">{{.title}}</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/{{.model}}">{{.model}}</a></li>
                            <li class="breadcrumb-item active">{{.action}}</li>
                        </ol>
                    </div>
                </div>