
        <footer>
            <span>© Copyright {{.current_year}}. All Rights Reserved by <a href="{{.site_url}}" target="_blank">{{.site_name}}</a></span>
            <span class="pull-right">Design & Developed by <a href="https://www.nlaak.com" target="_blank">Nlaak Studios</a></span>
        </footer>
    </div>

    <script src="/static/plugins/jquery/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.matchHeight-min.js"></script>
    <script src="/static/js/jquery.slimscroll.js"></script>
    <script src="/static/js/waves.js"></script>
    <script src="/static/js/sidebarmenu.js"></script>
    <script src="/static/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="/static/plugins/toast-master/js/jquery.toast.js"></script>
    {{ if .use_styles}}
    <script src="/static/plugins/owl.carousel/owl.carousel.min.js"></script>
    {{end}}
    {{ if .use_styles}}
    <script src="/static/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    {{end}}
    {{ if .use_recaptcha}}
    <script src='https://www.google.com/recaptcha/api.js'></script> <!-- ReCaptcha v2 -->
    {{end}}
    {{ if .use_datatables}}
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script src="/static/js/datatable-config.js"></script>
    <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
    </script>    
    {{end}}
    {{ if .use_sparkline}}
    <script src="/static/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/plugins/sparkline/jquery.charts-sparkline.js"></script>
    {{end}}

    <!--Custom JavaScript -->
    <script src="/static/js/custom.js"></script>
    <script>
    //Listen for Flash JSON (SysMsg) fromt he server then implement it
    $(function () {
        "use strict";
        $(".flash").ready(function(){
        {{range $k,$v:=.flash}}
            $.toast({
                heading: '{{$v.Kind}}',
                text: '{{$v.Message}}',
                position: 'top-right',
                loaderBg:'#ff6849',
                icon: '{{$v.Icon}}',
            });
        {{end}}
        });
    });
    </script>
</body>

</html>