<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <title>{{ .title }}</title>
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/plugins/toast-master/css/jquery.toast.css" rel="stylesheet">
    {{ if .use_owlcarousel}}
    <link href="/static/plugins/owl.carousel/owl.carousel.min.css" rel="stylesheet">
    {{end}}
    <link href="/static/css/style.css" rel="stylesheet">    
    <!-- You can change the theme colors from here -->
    <link href="/static/css/colors/{{.themecolor}}.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{template "widgets/google-analytics" .}}
</head>

<body class="fix-sidebar fix-header card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div id="main-wrapper">
        <header class="topheader">
            <div class="fix-width">
                <nav class="navbar navbar-expand-md navbar-light">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <b>
                                <img src="/static/images/logo-icon.png" alt="homepage" class="dark-logo" />
                                <img src="/static/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                            </b>
                            <span>
                            <img src="/static/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <img src="/static/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                    </div>
                    <!-- This is the navigation menu -->
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto stylish-nav">
                            <li class="nav-item">
                                {{if not .logged_in}}
                                <a href="/account/login" class="btn btn-success m-l-5"><b>Sign In or Sign Up</b></a>
                                {{else}}
                                <a class="m-t-5 btn btn-rounded btn-outline-success" href="/account/dashboard">Dashboard</a>
                                {{end}}
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>    
        <div class="page-wrapper-landing">
