        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="has-arrow " href="#" aria-expanded="false"><i class="fa fa-archive"></i><span class="hide-menu">Public</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/example">Example</a></li>
                                <li><a href="/person">People</a></li>
                                <li><a href="/company">Companies</a></li>
                            </ul>
                        </li>          
                        {{if eq .role "admin"}}
                        <li>
                            <a class="has-arrow " href="#" aria-expanded="false"><i class="fa fa-archive"></i><span class="hide-menu">Admin</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/address">Addresses</a></li>
                                <li><a href="/creditcard">Credit Cards</a></li>
                                <li><a href="/email">Emails</a></li>
                                <li><a href="/gender">Genders</a></li>
                                <li><a href="/note">Notes</a></li>
                                <li><a href="/personname">Person Names</a></li>
                                <li><a href="/persontype">Person Types</a></li>
                                <li><a href="/phone">Phones</a></li>
                                <li><a href="/ip">IPs</a></li>
                                <li><a href="/onboarding">Onboardings</a></li>
                                <li><a href="/profile">Profiles</a></li>
                                <li><a href="/casbin">Casbin</a></li>
                                <li><a href="/chat">Chat</a></li>


                            </ul>
                        </li>          
                        {{end}}
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->

                    <div class="row">
                        <div class="col-md-6">
                            <a href="/account/register" class="btn btn-sm btn-success"> Register</a>
                        </div>
                        <div class="col-md-6">
                            <a href="/account/login" class="btn btn-sm btn-info"> Login</a>
                        </div>
                    </div>

            {{if .logged_in}}
            <!-- Bottom Logged In-->
            <div class="sidebar-footer">
                <!-- item-->
                <a href="/account/dashboard" class="link" data-toggle="tooltip" title="Settings"><i class="mdi mdi-settings"></i></a>
                <!-- item-->
                <a href="/mail" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-mail"></i></a>
                <!-- item-->
                <a href="/account/logout" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-logout"></i></a>
            </div>
            <!-- End Bottom Logged End-->
            {{else}}
            <!-- Bottom NOT Logged In-->
            <div class="sidebar-footer">
                <!-- item-->
                <a href="/" class="link" data-toggle="tooltip" title="Return to default landing page"><i class="mdi mdi-home"></i></a>
                <!-- item-->
                <a href="/account/register" class="link" data-toggle="tooltip" title="Create new account"><i class="mdi mdi-account-plus"></i></a>
                <!-- item-->
                <a href="/account/login" class="link" data-toggle="tooltip" title="Login with existing account"><i class="mdi mdi-login"></i></a>
            </div>
            <!-- End Bottom NOT Logged End-->
            {{end}}
        </aside>