<!-- Model form Widget -->
<!-- Allows Edit or Creating new Models (with proper access) -->
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header fadebar">
                <h3>{{.title}}</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" method="post" action="/{{$.model}}/{{if eq .action "edit"}}update/{{.Payload.ID}}{{else}}{{.action}}{{end}}">
                    <div class="form-group row">
                        <label for="string" class="col-4 col-form-label">OwnerID</label>
                        <div class="col-8">
                            <input name="owner_id" placeholder="enter some text"  {{with .Payload}}value="{{.OwnerID}}"{{end}}  class="form-control here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="string" class="col-4 col-form-label">Slide</label>
                        <div class="col-8">
                            <input name="slide" placeholder="enter some text" {{with .Payload}}value="{{.Slide}}"{{end}} required="required"  class="form-control here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="string" class="col-4 col-form-label">Title</label>
                        <div class="col-8">
                            <input  name="title" placeholder="enter some text" type="text" {{with .Payload}}value="{{.Title}}"{{end}} required="required" class="form-control here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="string" class="col-4 col-form-label">Message</label>
                        <div class="col-8">
                            <input  name="Message" placeholder="enter some text" type="text" {{with .Payload}}value="{{.Message}}"{{end}} required="required" class="form-control here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="string" class="col-4 col-form-label">ImgBGPath</label>
                        <div class="col-8">
                            <input name="im_bg_path" placeholder="enter some text" type="text" {{with .Payload}}value="{{.ImgBGPath}}"{{end}} class="form-control here">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="string" class="col-4 col-form-label">Icon</label>
                        <div class="col-8">
                            <input  name="icon" placeholder="enter some text" type="text" {{with .Payload}}value="{{.Icon}}"{{end}}  class="form-control here">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="string" class="col-4 col-form-label">Finished</label>
                        <div class="col-8">
                            <input  name="finished" placeholder="enter some text" type="text" {{with .Payload}}value="{{.Finished}}"{{end}}  required="required"  class="form-control here">
                        </div>
                    </div>


                        <div class="form-group row align-items-center justify-content-center">
                        <div class="block-center">
                            <a class="btn btn-danger" href="/{{$.model}}">Cancel</a>
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>