<!-- Model form Widget -->
<!-- Allows Edit or Creating new Models (with proper access) -->
{{if  eq $.model "personname"}}
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header fadebar">
                <h3>{{.title}}</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                {{template "widgets/setFieldName" .}}
                <form class="form-horizontal" data-toggle="validate-personname" role="form" method="post" action="/{{$.model}}/{{if eq .action "edit"}}update/{{.Payload.ID}}{{else}}{{.action}}{{end}}">
{{end}}
                        <div class="form-group row">
                            <label for="domain" class="col-4 col-form-label">Person name</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-account-card-details"></i></span>
                                    <select id="persname_{{$.model}}_prefix" name="prefix" data-nameP="PrimaryName." data-name="name." alt="prefix" class="form-control"  aria-describedby="sizing-addon3">
                                        <option>Mr.</option>
                                        <option>Miss.</option>
                                        <option>Mrs.</option>
                                    </select>
                                        <input  id="persname_{{$.model}}_first" name="first" placeholder="William" data-nameP="PrimaryName." data-name="name." data-payl="name." alt="first" type="text" class="form-control" required="required" aria-describedby="sizing-addon3">
                                        <input id="persname_{{$.model}}_middle" name="middle" placeholder="Blaine" data-nameP="PrimaryName." data-name="name." alt="middle" type="text"  class="form-control" aria-describedby="sizing-addon3">
                                        <input id="persname_{{$.model}}_last" name="last" placeholder="Doe" type="text" data-nameP="PrimaryName." data-name="name." alt="last" class="form-control" required="required" aria-describedby="sizing-addon3">
                                        <input id="persname_{{$.model}}_goes_by" name="goes_by" placeholder="Bob" data-nameP="PrimaryName." data-name="name." type="text" alt="goes_by" class="form-control" aria-describedby="sizing-addon3">
                                    <select  class="form-control"  name="suffix" aria-describedby="sizing-addon3" data-nameP="PrimaryName." data-name="name." alt="suffix" id="persname_{{$.model}}_suffix">
                                        <option id="Jr.">Jr.</option>
                                        <option id="Sr.">Sr.</option>
                                        <option id="I">I</option>
                                        <option id="II">II</option>
                                        <option id="III">III</option>
                                    </select>
                                    <a href="#" id="find_personname_{{.model}}" type="button" data-target="#personnameFormModal" data-whatever="@mdo"><span class="input-group-addon" id="sizing-addon3"><i class="mdi mdi-database-search"></i></span></a>
                                </div>
                            </div>
                        </div>
{{if  eq $.model "personname"}}
                        <div class="form-group row align-items-center justify-content-center">
                            <div class="block-center">
                                <a class="btn btn-danger" href="/{{$.model}}">Cancel</a>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script>
    $('#find_personname_{{.model}}').click(function () {
        $('#personname_{{.model}}').modal('show')
    })


    jQuery.validator.setDefaults({
        rules: {
            first : {
                required : true,
                minlength: 1,
                maxlength: 15,
            },
            middle: {
                maxlength: 15,
            },
            last: {
                required: true,
                maxlength: 15,
            },

            goes_by: {
                maxlength: 10,
            },
        },

        highlight: function(element) {
            $(element).closest("input[id*='persname_{{$.model}}']").removeClass('form-control is-valid').addClass('form-control is-invalid');
            if ($(element).closest('.form-group').find('i.mdi').length < 4) {
                $(element).closest('.form-group').find('.mdi-alert').remove();
                $(element).closest('.form-group').find('.mdi-check').remove();
                $(element).closest('.form-group').find('.mdi-database-search').append('<i class="mdi mdi-alert text-danger"></i>');
            }
        },
        unhighlight: function(element) {
            $(element).closest("input[id*='persname_{{$.model}}']").removeClass('form-control is-invalid').addClass('form-control is-valid');
            if ($(element).closest('.form-group').find('i.mdi').length < 4) {
                $(element).closest('.form-group').find('.mdi-check').remove();
                $(element).closest('.form-group').find('.mdi-alert').remove();
                $(element).closest('.form-group').find('.mdi-database-search').append('<i class="mdi mdi-check text-success"></i>');
            }
        },
        errorPlacement: function(error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(('.input-group'));
            }
        },

        errorElement: 'span',
        errorClass: 'help-block',
        ignore: ''

    });

    $('form[data-toggle="validate-personname"]').validate();


</script>
{{template "widgets/personname/find" .}}
