<!-- Table list of all models -->
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header">
                    <h2>Browse Examples <a href="/profile/create"><i class="mdi mdi-plus text-success"></i></a></h2>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>            
                                    <th>ID</th> 
                                    <th>String</th> 
                                    <th>Number</th> 
                                    <th>Float</th> 
                                    <th>Toggle</th> 
                                    <th>Actions</th> 
                                </tr>
                            </thead>            
                            {{range $k,$v:=.List}}
                            <tr>
                                <td class="text-left">{{$v.ID}}</td>
                                <td class="text-left">{{$v.String}}</td>
                                <td class="text-left">{{$v.Number}}</td>
                                <td class="text-left">{{$v.Float}}</td>
                                <td class="text-left">{{$v.Toggle}}</td>
                                <td class="text-left">
                                    <a href="/profile/view/{{$v.ID}}"><i class="mdi mdi-eye text-info"></i></a>
                                    <a href="/profile/edit/{{$v.ID}}"><i class="mdi mdi-square-edit-outline text-warning"></i></a>
                                    <a href="/profile/delete/{{$v.ID}}"><i class="mdi mdi-delete-forever text-danger"></i></a>
                                </td>
                            </tr>
                            {{end}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>