<!-- Model form Widget -->
<!-- Allows Edit or Creating new Models (with proper access) -->
{{if (eq $.model "company")}}

<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header fadebar">
                <h3>{{.title}}</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                        <form class="form-horizontal" id = "person-form" role="form" method="post" {{with .Payload}} action="/{{$.model}}/update/{{$.Payload.ID}}" {{else}} action="/company/create" {{end}}>
                    {{end}}
                    {{if (eq $.model "account-company")}}
                        <form class="form-horizontal" id = "person-form" role="form" method="post" action="/company/create">
                    {{end}}
                        <div class="form-group row">
                            <label for="Company.name" class="col-4 col-form-label">Company Name</label>
                            <div class="col-8">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="mdi mdi-office-building"></i>
                                    </div>
                                    <input {{if or (eq $.model "account-company-person") (eq $.model "account-company")}} name="Company.name"{{else}} name="name" {{end}} placeholder="ACME, Ltd." type="text" {{with .Payload}} value="{{.Name}}"{{end}}  class="form-control here">
                                    <div class="input-group-addon append">
                                        <i class="mdi mdi-database-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{template "widgets/phone/form"  .changeName.SetName  $.model .Payload }}
                        {{template "widgets/address/form"  .changeName.SetName   $.model .Payload }}
                        {{template "widgets/email/form" .changeName.SetName   $.model .Payload }}

                        <a id="ContactForm">Fax</a>
                        {{if eq $.model "company"}}
                            {{template "widgets/phone/form" .changeName.SetName   "fax" .Payload }}
                        {{else}}
                            {{template "widgets/phone/form" .changeName.SetName   "company-fax" .Payload }}
                        {{end}}
                            {{template "widgets/setFieldName" .}}

                        <a id="ContactForm">Contact Person</a>
                        {{if eq $.model "company"}}
                            {{template "widgets/person/form" .changeName.SetName  "company-person" .Payload }}
                        {{else}}
                            {{template "widgets/person/form" .changeName.SetName  "account-company-person" .Payload }}
                        {{end}}
{{if (eq $.model "company")}}

    <div class="form-group row align-items-center justify-content-center"  id="company-buttons">
                            <div class="block-center">
                                <a class="btn btn-danger" href="/{{$.model}}">Cancel</a>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>
                        {{/*</div>*/}}
                    </form>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>
</div>
{{end}}

<script>
    $("#ContactForm").click(function () {
        $("#Contact").toggle("slow");
    });
</script>
