<!-- Table list of all models -->
<div class="row">
    <div class="col-md-12">
        <div class="card text-center">
            <div class="card-header fadebar">
                <h3>Browse {{.title}} {{if eq $.role "admin" }}<a href="/{{$.model}}/create"><i class="mdi mdi-plus text-success"></i></a>{{end}}</h3>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-left">ID</th>
                                    <th class="text-left">Name</th>
                                    <th class="text-left">POC Name</th>
                                    <th>Actions</th> 
                                </tr>
                            </thead>
                            <tbody id="bodycompany">
                                {{range $k,$v:=.List}}
                                    <tr>
                                        <td class="text-left">{{$v.ID}}</td>
                                        <td class="text-left">{{$v.Name}}</td>
                                        <td class="text-left">{{$v.Friendly}}</td>
                                        <td class="text-left">
                                            <a href="/{{$.model}}/view/{{$v.ID}}"><i class="mdi mdi-eye text-info"></i></a>
                                            {{if or (eq $v.ID $.companyID)  (eq $.role "admin")}}
                                                 <a href="/{{$.model}}/edit/{{$v.ID}}"><i class="mdi mdi-square-edit-outline text-warning"></i></a>
                                                {{if eq $.role "admin"}}
                                                  <a href="/{{$.model}}/delete/{{$v.ID}}"><i class="mdi mdi-delete-forever text-danger"></i></a>
                                                {{end}}
                                            {{end}}
                                        </td>
                                    </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
